/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


#define Base   0
#define Second 1
#define Third 2
#define Fourth 3
#define Fifth 4
#define Sixth 5
#define Seventh 6

&right_encoder {
    status = "disabled";
};

/ {
	keymap {
		compatible = "zmk,keymap";

		Base_layer {
			bindings = <
// +--------------+----------+----------+---------------+----------+----------+                                                                 +----------+----------+----------+----------+----------+----------+
// |              |          |          |               |          |          |                                                                 |         |          |          |          |          |          |
   &kp ESC        &kp Q      &kp W      &kp F           &kp P      &kp G                                                                        &kp J      &kp L      &kp U      &kp Y      &kp SEMI   &kp MINUS
   &kp LSHFT   	  &kp A      &kp R      &kp S           &kp T      &kp D                                                                        &kp H      &kp N      &kp E      &kp I      &kp O      &kp SQT
   &kp LCTRL      &kp Z      &kp X      &kp C           &kp V      &kp B      &kp LMETA       &kp PSCRN                &kp RET       &kp CAPS   &kp K      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
// +--------------+----------+----------+---------------+----------+----------+---------------+----------+             +-------------+--------------+----------+----------+----------+----------+----------+----------+
	                                &kp TAB 	&kp BSPC   &kp SPC    &mo Second      &kp RET                  &kp RALT      &mo Third	&kp BSPC   &kp DEL    &kp RALT
//                                      |               |          |          |               |          |             |             |          |          |          |          |
//                                      +---------------+----------+----------+----------+---------------+             +-------------+--------------+----------+----------+----------+
			>;
			
			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};
		
		Second_layer {
			bindings = <
// +--------------+----------+----------+---------------+----------+----------+                                                                 +----------+----------+----------+----------+----------+----------+
// |              |          |            |             |             |          |                                                                 |         |          |          |          |          |          |
   &kp GRAVE      &kp PLUS   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ASTERISK                                                                 &kp AT_SIGN  &kp LPAR       &kp RPAR   &kp LBRC   &kp RBRC       &kp HASH
   &kp LSHFT   	  &kp MINUS  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH                                                                    &kp BSLH     &kp LBKT       &kp RBKT   &kp SQT    &kp UNDERSCORE &kp DOLLAR
   &kp LCTRL      &kp EQUAL  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &kp LMETA    &kp PSCRN              &kp CAPS      &kp RSHFT    &kp PERCENT  &kp LESS_THAN  &kp GREATER_THAN  &kp APOS   &kp AMPERSAND  &kp CARET
// +--------------+----------+----------+---------------+----------+----------+---------------+----------+             +-------------+--------------+----------+----------+----------+----------+----------+----------+
	                                   &kp PERIOD	 &kp BSPC      &kp SPC       &trans       &kp RET                &kp RET       &kp SPC      &kp BSPC     &kp DEL        &kp RALT
//                                      |               |          |          |               |          |             |             |          |          |          |          |
//                                      +---------------+----------+----------+----------+---------------+             +-------------+--------------+----------+----------+----------+
			>;
			
			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};
		
		Third_layer {
			bindings = <
// +--------------+----------+----------+---------------+----------+----------+                                                                    +----------+----------+----------+----------+----------+----------+
// |              |          |          |               |          |          |                                                                    |         |          |          |          |          |          |
   &to Base       &none      &none           &kp UP_ARROW    &none            &none                                                                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
   &kp LSHFT   	  &none      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none                                                                &to Base      &mo Second    &to Third     &to Fourth    &to Fifth     &mo Sixth
   &kp LCTRL      &none      &none           &none           &none            &none     &none      &none                &bt BT_CLR  &out OUT_TOG   &none         &none         &none         &none         &none         &mo Seventh
// +--------------+----------+----------+---------------+----------+----------+---------------+----------+             +-------------+--------------+----------+----------+----------+----------+----------+----------+
	                                     &none 	     &kp DELETE       &kp SPC   &kp BSPC   &kp RET              &none       &trans	   &kp K_COPY    &kp K_PASTE   &kp K_CUT
//                                      |               |          |          |               |          |             |             |          |          |          |          |
//                                      +---------------+----------+----------+----------+---------------+             +-------------+--------------+----------+----------+----------+
			>;
			
			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};
		
		Fourth_layer {
			bindings = <
// +--------------+----------+----------+---------------+----------+----------+                                                                 +----------+----------+----------+----------+----------+----------+
// |              |          |          |               |          |          |                                                                 |         |          |          |          |          |          |
   &kp ESC    &kp NUMBER_1  &kp Q      &kp W         &kp E         &kp R                                                                    &kp LEFT_ARROW   &none          &none   &none   &none  &none
   &kp LSHFT  &kp LCTRL     &kp A      &kp S         &kp D         &kp F                                                                    &kp DOWN_ARROW   &kp UP_ARROW   &none   &none   &none  &none
   &kp F1     &kp TAB       &kp Z      &kp X         &kp C         &kp V      &kp G     &kp M                           &none    &none      &kp RIGHT_ARROW  &none          &none   &none   &none  &none
// +--------------+----------+----------+---------------+----------+----------+---------------+----------+             +-------------+--------------+----------+----------+----------+----------+----------+----------+
	                               &kp LEFT_ALT  &kp NUMBER_3  &kp SPC    &kp SPC   &kp RET                         &none    &kp RET     &mo Base        &kp NUMBER_4   &to Base
//                                      |               |          |          |               |          |             |             |          |          |          |          |
//                                      +---------------+----------+----------+----------+---------------+             +-------------+--------------+----------+----------+----------+
			>;
			
			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};
		
		Fifth_layer {
			bindings = <
// +--------------+----------+----------+---------------+----------+----------+                                                                 +----------+----------+----------+----------+----------+----------+
// |              |          |          |               |          |          |                                                                 |         |          |          |          |          |          |
   &kp ESC        &kp Q      &kp W      &kp E        &kp R      &kp T                                                                           &kp U      &kp I      &kp O      &kp P      &trans     &to Base
   &kp LSHFT   	  &kp A      &kp S      &kp D        &kp F      &kp G                                                                           &kp H      &kp J      &kp K      &kp L      &trans     &mo Base
   &kp LCTRL      &kp Z      &kp X      &kp C        &kp V      &kp B      &kp Y       &kp CAPSLOCK                     &kp RET      &kp CAPS   &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &trans
// +--------------+----------+----------+---------------+----------+----------+---------------+----------+             +-------------+--------------+----------+----------+----------+----------+----------+----------+
	                                &kp RALT     &kp DEL    &kp SPC    &kp BSPC    &kp RET                          &trans       &kp RET	&trans     &kp DEL    &trans
//                                      |               |          |          |               |          |             |             |          |          |          |          |
//                                      +---------------+----------+----------+----------+---------------+             +-------------+--------------+----------+----------+----------+
			>;
			
			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};
		
		Sixth_layer {
			bindings = <
// +--------------+----------+----------+---------------+----------+----------+                                                                 +----------+----------+----------+----------+----------+----------+
// |              |          |          |               |          |          |                                                                 |         |          |          |          |          |          |
   &none      &none      &none      &none        &none      &none                                                                             &none      &none      &none      &none        &none      &none
   &none      &none      &none      &none        &none      &none                                                                             &none      &none      &none      &none        &none      &none
   &none      &none      &none      &none        &none      &none      &none      &none                    		&none      &none      &none      &none      &none      &none        &none      &none
// +--------------+----------+----------+---------------+----------+----------+---------------+----------+             +-------------+--------------+----------+----------+----------+----------+----------+----------+
	                            &none        &none      &none      &none      &none                          	&none      &none      &none      &none      &none
//                                      |               |          |          |               |          |             |             |          |          |          |          |
//                                      +---------------+----------+----------+----------+---------------+             +-------------+--------------+----------+----------+----------+
			>;
			
			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};
		
		Seventh_layer {
			bindings = <
// +--------------+----------+----------+---------------+----------+----------+                                                                 +----------+----------+----------+----------+----------+----------+
// |              |          |          |               |          |          |                                                                 |         |          |          |          |          |          |
   &none      &kp F1      &kp F2    &kp F3       &kp F4     &none                                                                             &none      &none      &none      &none        &none      &none
   &none      &kp F5      &kp F6    &kp F7       &kp F8     &none                                                                             &none      &none      &none      &none        &none      &none
   &none      &kp F9      &kp F10   &kp F11      &kp F12    &none      &none      &none                    		&none      &none      &none      &none      &none      &none        &none      &none
// +--------------+----------+----------+---------------+----------+----------+---------------+----------+             +-------------+--------------+----------+----------+----------+----------+----------+----------+
	                            &none        &none      &none      &none      &none                          	&none      &none      &none      &none      &none
//                                      |               |          |          |               |          |             |             |          |          |          |          |
//                                      +---------------+----------+----------+----------+---------------+             +-------------+--------------+----------+----------+----------+
			>;
			
			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
