/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#define DEFAULT 0
#define NUM     1
#define SYM     2
#define APX     3

&right_encoder {
    status = "disabled";
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
// +----------+----------+----------+----------    +----------+----------+                                                                   +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &kp ESC        &kp Q      &kp W      &kp F          &kp P      &kp G                                                                        &kp J      &kp L      &kp U      &kp Y      &kp SEMI   &kp MINUS
   &mt LSHFT TAB  &kp A      &kp R      &kp S          &kp T      &kp D                                                                        &kp H      &kp N      &kp E      &kp I      &kp O      &kp SQT
   &kp LCTRL      &kp Z      &kp X      &kp C          &kp V      &kp B         &kp LMETA       &kp CAPS          &kp RCTRL     &mt RSHFT TAB  &kp K      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
// +----------+----------+----------+----------    +----------+----------+----------+----------+                +----------+----------+----------+----------+----------+----------+----------+----------+
	                                &lt SYS C_MUTE  &kp DEL    &kp SPC      &lt NUM BSPC    &kp RET           &kp RALT      &lt NUM BSPC   &kp BSPC   &kp DEL    &lt SYS C_PP
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------    +----------+----------+----------+----------+                +----------+----------+----------+----------+----------+
			>;
			
			sensor-bindings = <&inc_dec_kp UP DOWN &inc_dec_kp PG_UP PG_DN>;
		};
		num_layer {
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                                                       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp LEFT_BRACKET
   &trans     &none      &none      &kp PAGE_UP &none     &none                                                        &none      &none      &kp UP     &none      &none      &kp PLUS
   &trans     &none      &none      &kp PAGE_DOWN &none   &none      &trans     &trans           &trans     &trans     &none      &kp LEFT   &kp DOWN   &kp RIGHT  &none      &trans
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                    &trans     &trans     &trans     &trans     &trans           &trans     &trans     &trans     &trans     &trans
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		sym_layer {
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5                                                       &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
   &trans     &none      &none      &none      &none      &none                                                        &none      &none      &none      &none      &none      &kp F12
   &trans     &none      &none      &none      &none      &none      &trans     &trans           &trans     &trans     &none      &none      &none      &none      &none      &trans
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                    &trans     &none      &tog NUM   &trans     &trans           &trans     &trans     &tog NUM   &trans     &trans
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		apx_layer {
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                                                       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp LEFT_BRACKET
   &trans     &none      &none      &kp PAGE_UP &none     &none                                                        &none      &none      &kp UP     &none      &none      &kp PLUS
   &trans     &none      &none      &kp PAGE_DOWN &none   &none      &trans     &trans           &trans     &trans     &none      &kp LEFT   &kp DOWN   &kp RIGHT  &none      &trans
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                    &trans     &trans     &trans     &trans     &trans           &trans     &trans     &trans     &trans     &trans
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
	};
};
