/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


#define DEFAULT 0
#define NUM     1
#define SYM     2

&left_encoder {
    status = "disabled";
};

&right_encoder {
    status = "disabled";
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T                                                        &kp Y      &kp U      &kp I      &kp O      &kp P      &kp MINUS
   &kp CAPS   &kp A      &kp S      &kp D      &kp F      &kp G                                                        &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
   &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B      &mt LSHFT TAB &kp LCTRL     &kp RCTRL  &mt RSHFT TAB &kp N   &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHFT
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
	                                &mo SYM    &kp DEL    &lt NUM RET &kp RET  &mt LMETA RET     &mt RALT SPC &kp SPC  &lt NUM SPC &kp BSPC  &mo SYM
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		num_layer {
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                                                       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp LEFT_BRACKET
   &trans     &none      &none      &kp PAGE_UP &none     &none                                                        &none      &none      &kp UP     &none      &none      &kp PLUS
   &trans     &none      &none      &kp PAGE_DOWN &none   &none      &trans     &trans           &trans     &trans     &none      &kp LEFT   &kp DOWN   &kp RIGHT  &none      &trans
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                    &trans     &trans     &trans     &trans     &trans           &trans     &trans     &trans     &trans     &trans
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
		sym_layer {
			bindings = <
// +----------+----------+----------+----------+----------+----------+                                                 +----------+----------+----------+----------+----------+----------+
// |          |          |          |          |          |          |                                                 |          |          |          |          |          |          |
   &trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5                                                       &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
   &trans     &none      &none      &none      &none      &none                                                        &none      &none      &none      &none      &none      &kp F12
   &trans     &none      &none      &none      &none      &none      &trans     &trans           &trans     &trans     &none      &none      &none      &none      &none      &trans
// +----------+----------+----------+----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+----------+----------+----------+
                                    &trans     &none      &tog NUM   &trans     &trans           &trans     &trans     &tog NUM   &trans     &trans
//                                  |          |          |          |          |          |     |          |          |          |          |          |
//                                  +----------+----------+----------+----------+----------+     +----------+----------+----------+----------+----------+
			>;
		};
	};
};
